{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Questionnaire
{% endblock %}

<! We use the same questionnaire for control and treatment group>
{% block content %}
<div id="main">
        <img src="{% static 'Survey.PNG' %}"; align="center"/><br><br>
    <p>
        Thank you for completing the game. We now ask you a small number of questions:
    <br><br>



    Question 1:<br>
    There are 19 other teams in your group.<br>
    What do you think - how many of the other teams cheated? <br>
    (You get an additional payment of $0.40 when your guess is correct)

        <!{% formfield player.question1 %}>
    <br><br>
    Question 2:<br>
    Also for this question you can get an additional $0.40 when your guess is correct:<br>
    What share of participants in the 19 other teams in your group think that complying is the morally right thing to do? <br>
        <!{% formfield player.question2 %}>
    <br><br>
    Question 3:<br>
        {% formfield player.question3 %}
    <br><br>
         Question 4:<br>
        {% formfield player.question4 %}
    <br><br>
            Question 5:<br>
        {% formfield player.question5 %}
    <br><br>
            Question 6:<br>
        {% formfield player.question6 %}
    <br><br>
    Question7:<br>
        How do you see yourself: Are you in general a person who takes risk (10) or do you try to avoid risks (0)? Please self-grade your choice (0-10).
            {% formfield player.question8 %}
</div>

    {% next_button %}

<style>
    .otree-timer {
        display: none;
    }
</style>

<script>
    $(function () {
        $('.otree-timer__time-left').on('update.countdown', function (event) {
            if (event.offset.totalSeconds === 10) {
                $('.otree-timer').show();
            }
        });
    });
</script>

{% endblock %}


